---
import { Image } from "astro:assets";
import profileImageReference from "../../../../../images/photos/emilbonnek.jpg";
import { NAME } from "../../../../../constants";

interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<div class:list={["profile-image", className]}>
  <Image src={profileImageReference} alt={NAME} draggable={false} />
</div>

<style>
  .profile-image {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
  }
  .profile-image > img {
    height: 100%;
    width: 100%;
    filter: saturate(0.7);
    clip-path: circle(50%);
  }
</style>
