---
import HeadlineSection from "../../HeadlineSection.astro";
import Li from "../../../../components/ui/elements/Li.astro";
import Section from "../../../../components/ui/elements/Section.astro";
import Ul from "../../../../components/ui/elements/Ul.astro";

interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<Section class={className}>
  <HeadlineSection headline="Other Skills" iconName="star" />

  <Ul>
    <Li class="flex flex-col">
      <span>Version control</span>
      <span class="text-gray-500">(Git, GitHub)</span>
    </Li>
    <Li class="flex flex-col">
      <span>CI/CD</span>
      <span class="text-gray-500">(GitHub Actions)</span>
    </Li>
    <Li class="flex flex-col">
      <span>Linters and formatters</span>
      <span class="text-gray-500">(ESLint, Prettier)</span>
    </Li>
    <Li class="flex flex-col">
      <span>Package managers</span>
      <span class="text-gray-500">(npm, cargo)</span>
    </Li>
    <Li class="flex flex-col">
      <span>Testing</span>
      <span class="text-gray-500">(Vitest, Playwright, Storybook)</span>
    </Li>
    <Li class="flex flex-col">
      <span>Code editors</span>
      <span class="text-gray-500">(Cursor, VSCode)</span>
    </Li>
    <Li class="flex flex-col">
      <span>Database management</span>
      <span class="text-gray-500">(SQL, Firestore)</span>
    </Li>
    <Li class="flex flex-col">
      <span>API development</span>
      <span class="text-gray-500">(REST, GraphQL)</span>
    </Li>
  </Ul>
</Section>
