---
import HeadlineSection from "../../HeadlineSection.astro";
import Section from "../../../../components/ui/elements/Section.astro";
import Article from "../../../../components/ui/elements/Article.astro";
import HeadlineArticle from "../../HeadlineArticle.astro";
import P from "../../../../components/ui/elements/P.astro";
import Ul from "../../../../components/ui/elements/Ul.astro";
import Li from "../../../../components/ui/elements/Li.astro";
import ChipList from "../../ChipList.astro";
interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<Section class={className}>
  <HeadlineSection headline="Personal Projects" iconName="home" />

  <Article class={className}>
    <HeadlineArticle
      title="Co-founder"
      place="Disc Tree"
      placeLink="https://disctree.dk"
      start="2021"
    />
    <P>
      With two friends, I co-founded Disc Tree, a webshop for disc golf
      products. I've been responsible for the website development, backend
      automation and internal applications. The webshop is still running today,
      and I'm still a co-owner. It is something I like to do, and I have learned
      a lot from it. I've also been responsible for the company's Google Cloud
      infrastructure.
    </P>
    <ChipList
      items={["TypeScript", "React", "Rust", "Shopify", "Google Cloud"]}
    />
  </Article>
</Section>
