---
import HeadlineSection from "../../HeadlineSection.astro";
import Section from "../../../../components/ui/elements/Section.astro";
import Article from "../../../../components/ui/elements/Article.astro";
import HeadlineArticle from "../../HeadlineArticle.astro";
import P from "../../../../components/ui/elements/P.astro";
import Ul from "../../../../components/ui/elements/Ul.astro";
import Li from "../../../../components/ui/elements/Li.astro";
import ChipList from "../../ChipList.astro";
import H3 from "../../../../components/ui/elements/H3.astro";
interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<Section class={className}>
  <HeadlineSection headline="Volunteer Work" iconName="volunteer" />

  <Article class={className}>
    <H3>Open Source</H3>

    <Ul bulleted>
      <Li>
        Developed and maintains the <a
          href="https://github.com/nanostores/lit"
          class="underline">official Nanostores integration for Lit</a
        >. Simplifying state management in Lit components, and helps interop Lit
        with other frameworks. Gained recognition through a recommendation in
        the Astro framework's documentation.
      </Li>
      <Li>
        Contributed pull requests with bug fixes and improvements to various
        Open Source libraries, with the most impactful being
        <a href="https://github.com/Stuk/jszip" class="underline">JSZip</a> and
        <a href="https://github.com/serde-rs/serde" class="underline">Serde</a>.
      </Li>
      <Li>
        Contributed bug reports and feedback to various Open Source libraries,
        including <a
          href="https://github.com/fabian-hiller/valibot"
          class="underline">Valibot</a
        > where I was credited as a contributor early on for helping to improve the
        API.
      </Li>
      <ChipList items={["TypeScript", "Lit", "Rust"]} />
    </Ul>

    <Article class={className}>
      <HeadlineArticle
        title="Webmaster"
        place="Danish Frisbee Sport Union"
        placeLink="https://dfsu.dk"
        start="2020"
        end="2022"
      />
      <P>
        Oversaw and optimized the organization's website, including migration to
        a cost-effective hosting solution. Set up a small webshop for selling
        merchandise and built a dedicated site for a high school PE program.
      </P>
      <Ul bulleted>
        <Li>
          Orchestrated the migration of the website to a more cost-efficient
          hosting provider, achieving significant cost savings for the
          organization.
        </Li>
        <Li>
          Launched a webshop to diversify revenue streams through merchandise
          sales.
        </Li>
        <Li>
          Developed a specialized website to support a high school PE program,
          extending the organization's reach into educational settings.
        </Li>
      </Ul>
    </Article>
  </Article>
</Section>
