---
import HeadlineSection from "../../HeadlineSection.astro";
import Section from "../../../../components/ui/elements/Section.astro";
import Article from "../../../../components/ui/elements/Article.astro";
import Ul from "../../../../components/ui/elements/Ul.astro";
import Li from "../../../../components/ui/elements/Li.astro";
import ChipList from "../../ChipList.astro";
import H3 from "../../../../components/ui/elements/H3.astro";
interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<Section class={className}>
  <HeadlineSection headline="Volunteer Work" iconName="volunteer" />

  <Article class={className}>
    <H3>Open Source</H3>

    <Ul bulleted>
      <Li>
        I developed and maintain <a
          href="https://github.com/nanostores/lit"
          class="underline">@nanostores/lit</a
        > (35 ⭐️). Its a very small library that helps interop Lit components with
        nanostores.
      </Li>
      <Li>
        I have contributed smaller pull requests with bug fixes and improvements
        to various Open Source libraries, with the most impactful being
        <a href="https://github.com/Stuk/jszip" class="underline">JSZip</a> (10k
        ⭐️ ) and
        <a href="https://github.com/serde-rs/serde" class="underline">Serde</a> (10k
        ⭐️).
      </Li>
      <Li>
        I have contributed feedback on API design to <a
          href="https://github.com/fabian-hiller/valibot"
          class="underline">Valibot</a
        > (8k ⭐️) where the creator kindly credited me as a contributor early on
        for helping.
      </Li>
      <ChipList items={["TypeScript", "Lit", "Rust"]} />
    </Ul>
  </Article>
</Section>
