---
import A from "../../components/ui/elements/A.astro";

interface Props {
  title: string;
  place: string;
  placeLink?: string;
  lineBreak: boolean;
}
const { title, place, placeLink, lineBreak } = Astro.props;
---

{title}
{lineBreak ? <br /> : <span class="slashes font-normal"> // </span>}
{placeLink ? <A href={placeLink}>{place}</A> : place}
