---
import HeadlineSection from "../../HeadlineSection.astro";
import H3 from "../../../../components/ui/elements/H3.astro";
import RoleSubText from "../../RoleSubText.astro";
import RoleTitle from "../../RoleTitle.astro";
import Section from "../../../../components/ui/elements/Section.astro";
import Small from "../../../../components/ui/elements/Small.astro";
import Article from "../../../../components/ui/elements/Article.astro";

interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<Section class={className}>
  <HeadlineSection headline="Certifications" iconName="file-certificate" />
  <Article>
    <H3>
      <RoleTitle
        title="Associate Cloud Engineer"
        place="Google Cloud"
        placeLink="https://cloud.google.com"
        lineBreak={true}
      />
    </H3>
    <Small>
      <RoleSubText start="2021" />
    </Small>
  </Article>
</Section>
