---
import HeadlineSection from "../../HeadlineSection.astro";
import P from "../../../../components/ui/elements/P.astro";
import Section from "../../../../components/ui/elements/Section.astro";

interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<Section class={className}>
  <HeadlineSection headline="About Me" iconName="account" />
  <P>
    I am a seasoned full stack developer with a knack for bridging gaps between
    user needs and system capabilities. I have been programming with web
    technologies for over 10 years, and I have familarity with a variety of
    client-side and server-side technologies. Outside of work I do some open
    source development and I attend local developer meetups.
  </P>
</Section>
