---
import HeadlineSection from "../../HeadlineSection.astro";
import Section from "../../../../components/ui/elements/Section.astro";
import Article from "../../../../components/ui/elements/Article.astro";
import HeadlineArticle from "../../HeadlineArticle.astro";
import P from "../../../../components/ui/elements/P.astro";
import Ul from "../../../../components/ui/elements/Ul.astro";
import Li from "../../../../components/ui/elements/Li.astro";
import ChipList from "../../ChipList.astro";
interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<Section class={className}>
  <HeadlineSection headline="Work Experience" iconName="work" />

  <Article>
    <HeadlineArticle
      title="Full Stack Developer"
      place="Openframe"
      placeLink="https://openframe.org/"
      location="Copenhagen"
      start="April 2024"
      end="current"
    />
    <P>
      Working on a SaaS platform for the construction industry with 2 other
      developers and 1 product manager.
    </P>
    <Ul bulleted>
      <Li>
        I built a file handling feature that allows users to organize files in a
        traditional folder structure. I did the database schema, the backend
        including the Google Cloud Storage integration, and the frontend was
        done in collaboration with another developer.
      </Li>
      <Li>
        I migrated the codebase from plain JavaScript to TypeScript — initially
        thought to be too cumbersome, but now considered a great decision by the
        team.
      </Li>
      <Li>
        I restructured and implemented the entire permission system as the
        product moved to a freemium model and needed entirely new requirements
        for what users could do.
      </Li>
    </Ul>
    <ChipList items={["TypeScript", "React", "Node", "Google Cloud"]} />
  </Article>

  <Article>
    <HeadlineArticle
      title="Web Developer"
      place="Bright Star Studios"
      location="Copenhagen"
      start="February 2023"
      end="December 2023"
    />
    <P>
      Worked on a Next.js site for Ember Sword, a now closed down crypto game
      with just 1 other developer.
    </P>
    <Ul bulleted>
      <Li>
        I built a real time map of the game world with Leaflet.js which was used
        by thousands of players simultaneously during a big event.
      </Li>
      <Li>
        I built several big presentational components for showing off the game
        content on the main public website. These included custom carrousels,
        and 3D experiences with three.js.
      </Li>
      <Li>I built a scraper for the game's blockchain data with Rust.</Li>
    </Ul>
    <ChipList items={["TypeScript", "React", "Next.js", "Rust", "AWS"]} />
  </Article>
</Section>
