<body><slot /></body>

<style is:global>
  body {
    display: grid;
    place-items: center;
    min-height: 100vh;
  }
</style>

<style>
  body {
    transition: background-color 0.5s;
    background: var(--bg);
  }
</style>
