---
import { twMerge } from "tailwind-merge";

interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<h1 class={twMerge(className, "text-[5mm] leading-[5mm] font-bold")}>
  <slot />
</h1>
