---
import { twMerge } from "tailwind-merge";

interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<h2 class={twMerge("flex items-center uppercase", className)}><slot /></h2>

<style>
  h2 {
    color: var(--headerBackground);
  }
</style>
